<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <div class="container border-0 rounded shadow-lg my-5 p-2">

        <div class="container text-center my-1">
            <span class="h1 mb-3">PokeApp</span>
        </div>

        <div class="container text-center h5">
            <span>Search by Pokemon Name or Pokemon ID!</span>
        </div>

        <div class="container mt-3">
            <form method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search by Pokemon Name or Pokemon ID"
                        name="pokeinput" autocomplete="off">
                    <button class="btn border-0" type="submit"
                        style="background-color: hsl(141, 53%, 53%);color: white;">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>

        <% if (message) { %>
            <div class="container mt-3">
                <div class="alert alert-danger" role="alert">
                    <%= message %>
                </div>
            </div>
        <% } %>

    </div>

    <%- include('../partials/fontscript') %>
</body>

</html>